# Ignore the virtual environment
venv/
.venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore data and reports (usually too big for Git)
data/raw/*
data/processed/*
reports/figures/*

# Ignore OS specific files
.DS_Store
Thumbs.db